<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

<div class="container">
    <section class="menu">
      <div class="logo">
        <button type="button" class="main nav"></button>
        <span>TravelPlanner</span>
      </div>
        
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li class="active">
          <a>About</a>
        </li>
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="/trip">Trip</a>
        </li>
      </ul>
  
      <button type="button" class="secondary" v-on:click="signIn" id="signIn-button">Sign In</button>
    </section>

    <section class="slide">
        <div class="desc">
          <h1><span>Discover</span></h1>
          <h2>Our Features</h2>
          <small style="color: black;"><span style="color:orangered">Create Trips:</span><br> You can create a 
            group with friends and choose destination based on popularity</br></small>
          <small style="color: black;"><span style="color:orangered">Expense Manager:</span> <br> Track your 
            expenses throughout the trip for group members and settle debts</br></small>
          <small style="color: black;"><span style="color:orangered">Media Sharing:</span> <br>Upload and 
            Share photographs of the trip within each group </br></small>
        </div>
        <div class="pic"></div>
      </section>

</div>

<script>
    // import { VueRouter } from 'vue-router';
    // const router = new VueRouter({
    //     routes: [
    //         {
    //         path: '/login',
    //         name: 'login',
    //         component: SignInComponent,
    //         }
    //     ]
    // });
    const signIn = new Vue({
    el : '#signIn-button',
    methods: {
        signIn : function(){
            // console.log(this.counter)
            alert("Sign in button clicked")
            // this.$router.push('/login')
        }
    }
})
</script>
</html>