<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

<div class="container">
    <section class="menu">
      <div class="logo">
        <button type="button" class="main nav"></button>
        <span>TravelPlanner</span>
      </div>
        
      <ul>
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/profile" id="profile">Profile</a>
        </li>
        <li>
          <a href="/">Trip</a>
        </li>
      </ul>
      
      <div id="signIn-button">
        <button type="button" class="secondary" v-on:click="signIn" v-if="showSignIn">Sign In</button>
        <ul>
          <li>
            <a v-if="showSignedInUser">Hello, Shreeram Narayanan</a>
          </li>
        </ul>
      </div>
    </section>
    
    <section class="slide">
      <div class="desc">
        <small>Get ready for Chilling</small>
        <h1><span>Discover</span> The<br>Most Engaging<br>Places.</h1>
        <a href="#">
          <span>Explore More</span>
          <button type="button" class="main arrow"></button>
        </a>
      </div>
      <div class="pic"></div>
    </section>
    
    <section class="controls">
      <div class="items">
        <div class="item destination">
          <span>Destination</span>
          <input type="text" placeholder="Where You Want To Go?" />
        </div>
        <div class="item checkin">
          <span>Check In</span>
          <input type="text" placeholder="Where You Want To Go?" />
        </div>
        <div class="item checkin">
          <span>Check Out</span>
          <input type="text" placeholder="Where You Want To Go?" />
        </div>
        <div class="item guests">
          <span>Guests & Rooms</span>
          <input type="text" placeholder="Where You Want To Go?" />
        </div>
      </div>
      <button type="button" class="main nav"></button>
    </section>
</div>

<script>
  let URL = "/auth/google"
  let URL_profile = "/profile"
    // const router = new VueRouter({
    //     routes: [
    //         {
    //         path: '/login',
    //         name: 'login',
    //         component: SignInComponent,
    //         }
    //     ]
    // });
    const signIn = new Vue({
      el : '#signIn-button',
      data : {
        showSignIn: true,
        showSignedInUser: false
      },
      methods: {
        signIn : function(){
            console.log("Sign in done");
            // alert("Sign-in button clicked")
            window.location.href = URL;
            this.showSignIn = false;
            // this.showSignedInUser = true;
            console.log(this.showSignedInUser);

            // this.$router.push('/login')
        }
      }
    })
</script>
</html>
