<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

<div class="container">
    <section class="menu">
      <div class="logo">
        <button type="button" class="main nav"></button>
        <span>TravelPlanner</span>
      </div>
        
      <ul>
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/profile" id="profile">Profile</a>
        </li>
        <li>
          <a href="/createTrip">Trip</a>
        </li>
      </ul>
      
      <div id="signIn-button">
        <button id="sign-in" type="button" class="secondary" v-on:click="signIn" v-if="showSignIn">Sign In</button>
        <ul>
          <li>
            <a v-if="showSignedInUser">Hello, </a>
          </li>
        </ul>
      </div>
    </section>
    
    <section class="slide">
      <div class="desc">
        <small>Get ready for Chilling</small>
        <h1><span>Discover</span> The<br>Most Engaging<br>Places.</h1>
        <a href="#">
          <span>Explore More</span>
          <button type="button" class="main arrow"></button>
        </a>
      </div>
      <div class="pic"></div>
    </section>
</div>
<script src="/js/signIn.js"></script>

</html>
